### Write a program to check whether a given number is even or odd.

In [1]:
num=int(input())

if num%2==0:
    print('even')
else:
    print('odd')

6
even

### Write a program to check whether a given number is divisible by 5 or not.

In [2]:
num=int(input())

if num%5==0:
    print('yes')
else:
    print('not divisible')

25
yes

### Write a program to find greater between two numbers.

In [3]:
a = int(input())
b = int(input())

if a>b:
    print(a)
else:
    print(b, 'is greater than',a)

5
12
12 is greater than 5

### Write a program to to find greater among three numbers.

In [4]:
a = int(input())
b = int(input())
c = int(input())

if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

2
4
8
8

### Write a program to find roots of a quadratic equation

In [5]:
a=2
b=3
c=2

root1 = (-b + (b**2 - 4*a*c)**0.5)/2*a
root2 = (-b - (b**2 - 4*a*c)**0.5)/2*a
print(root1, root2)

(-3+2.6457513110645907j) (-3-2.6457513110645907j)

### Write a program to print Your name 5 times on the screen.

In [6]:
x = 'wasim'
# for i in range(1,6):
#     print(x)
i=1    
while i<6:
    print(x)
    i+=1

wasim
wasim
wasim
wasim
wasim

### Write a program to print first 10 natural numbers.

In [7]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

### Write a program to print first 10 natural numbers in reverse order.

In [8]:
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

### Write a program to print first N natural numbers. (N is given by user)

In [9]:
n = int(input())

for i in range(1,n+1):
    print(i, end=' ')

25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

### Write a program to print first N natural numbers in reverse order. (N is given by user)

In [10]:
n = int(input())

for i in range(n,0,-1):
    print(i, end=' ')

12
12 11 10 9 8 7 6 5 4 3 2 1

In [11]:
i=n
while i>=1:
    print(i,end=' ')
    i-=1

12 11 10 9 8 7 6 5 4 3 2 1

### Write a program to print first 10 even natural numbers.

In [12]:
num = 10
for i in range(1,num+1):
    if i%2 ==0:
        print(i,end=' ')

2 4 6 8 10

### Write a program to print first 10 odd natural numbers.

In [13]:
for i in range(1,10):
    if i%2==1:
        print(i,end=' ')

1 3 5 7 9

### Write a program to print first N even natural numbers

In [14]:
num = int(input())
for i in range(1,num+1):
    if i%2 ==0:
        print(i,end=' ')

15
2 4 6 8 10 12 14

In [15]:
i=1
while i<num:
    if (i%2)==0:
        print(i,end=' ')
    i+=1

2 4 6 8 10 12 14

### Write a program to print first N odd natural numbers

In [16]:
num = int(input())
for i in range(1,num+1):
    if i%2==1:
        print(i, end=' ')

19
1 3 5 7 9 11 13 15 17 19

In [17]:
i=1
while i<=num:
    if i%2==1:
        print(i, end=' ')
    i=i+1

1 3 5 7 9 11 13 15 17 19

### Write a program to print first N even natural numbers in reverse order

In [18]:
num = int(input())
for i in range(num,0,-1):
    if i %2==0:
        print(i,end=' ')

15
14 12 10 8 6 4 2

In [24]:
i=num
while i>=1:
    if i%2==0:
        print(i,end=' ')
    i-=1

14 12 10 8 6 4 2

### Write a program to print first N odd natural numbers in reverse order

In [25]:
num = int(input())
for i in range(num,0,-1):
    if i %2==1:
        print(i,end=' ')

17
17 15 13 11 9 7 5 3 1

In [26]:
i=num
while i>=1:
    if i%2==1:
        print(i, end=' ')
    i-=1

17 15 13 11 9 7 5 3 1

### Write a program to print table of user’s choice

In [29]:
table = int(input())
for i in range(1,11):
    print(table * i, end=' ')

5
5 10 15 20 25 30 35 40 45 50

In [31]:
i=1
while i<=10:
    print(table*i, end=' ')
    i+=1

5 10 15 20 25 30 35 40 45 50

### Write a program to calculate sum of first N natural numbers

In [41]:
num = int(input())
sum=0
for i in range(1, num+1):
    sum=sum+i
print(sum)

5
15

In [46]:
sum=0
i=1
while i<= num:
    sum=sum+i
    i=i+1
print(sum)

15

### Write a program to calculate product of first N natural numbers

In [48]:
num = int(input())
prod = 1
for i in range(1,num+1):
    prod=prod*i
print(prod)

5
120

In [52]:
prod=1
i=1
while i<=num:
    prod=prod*i
    i+=1
print(prod)

120

### Write a program to calculate factorial of a number.

In [54]:
num = int(input())
if num < 0:
    print('not possible')
elif num ==1 or num ==0:
    print(1)
else:
    fact=1
    for i in range(1,num+1):
        fact = fact*i
    print(fact)

6
720

### Write a program to calculate sum of first N even natural numbers

In [76]:
num = int(input())
s = 0

for i in range(1, num+1):
    if i%2==0:
        s=s+i
        print(i,end=' ')
print('\n',s)

6
2 4 6
 12

### Write a program to calculate sum of first N odd natural numbers

In [77]:
num = int(input())
s = 0

for i in range(1, num+1):
    if i%2==1:
        s=s+i
        print(i,end=' ')
print('\n',s)

15
1 3 5 7 9 11 13 15
 64

### Write a program to calculate x power y.
(when user input x is 2 and y is 3 then the result will be 8)

In [78]:
x = int(input())
y = int(input())

print(x**y)

2
3
8

### Write a program to count digits in a given number.

In [80]:
num = int(input())
print(len(str(num)))

2548
4

In [86]:
num = int(input())
count = 0
while num!=0:
    num//=10
    count+=1
print(count)

36548
5

### Write a program to calculate sum of the digits of a given number

In [94]:
x = 250
s=0
for i in str(x):
    s=s+int(i)
print(s)

7

### Write a program to reverse a number

In [101]:
x = 251
print(str(x)[::-1])

152

In [110]:
x = 478
rev = 0
while x!=0:
    digit = x%10
    rev = rev * 10 + digit
    x//=10
print(str(rev))

874

### Write a program to print all Armstrong numbers under 1000.

In [16]:
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
if num == sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

### Write a program to calculate LCM of two numbers

In [8]:
a = int(input())
b = int(input())
maxnum = max(a,b)
while True:
    if maxnum%a==0 and maxnum % b==0:
        break
    maxnum = maxnum + 1
print(maxnum)

12
19
228

### Write a program to calculate HCF of two numbers.

In [37]:
x = 20
y=4
if x>y:
    small= y
else:
    small= x
    
for i in range(1,small+1):
    if y%i==0 and x%i==0:
        hcf = i

hcf

4

### Write a program to check whether a given number is prime or not

In [49]:
# input should be always greater than 1.
x= int(input())
for i in range(2,x):
    if x%i==0:
        print(x,'is not a prime number')
        break
else:
    print('yes,',x,'is a prime number')

8
8 is not a prime number

### Write a program to print all prime numbers between two given numbers.

In [58]:
x=20
y=30
z=[]
for i in range(20,30):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        z.append(i)
print(z)

[23, 29]

### Write a program to print all prime factors of a given number.

In [7]:
def primefac(n):
    count = 0
    for i in range(2,n+1):
        
        if n % i==0:
            count +=1
        if count ==2:
            return False
    return True
# print(primefac(19))

def printallPrimefac(x):
    for i in range(2,x+1):
        if primefac(i):
            if x % i==0:
                print(i,end=' ')
printallPrimefac(25)

5

In [3]:
x = 36
i=2
while x%i==0:
    print(i)
    x=x/i
i=+1

2
2

### Write a program to print first N terms of Fibonacci series

In [78]:
x,y = 0,1

for i in range(10):
    print(x,end =' ')
    res = x+y
    x=y
    y=res

0 1 1 2 3 5 8 13 21 34

### Write a program to check co-prime number

In [84]:
x,y = 15,30

for i in range(2,y):
    if x%i==0 and y%i==0:
        print(i)

3
5
15

In [9]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)
print(list(x))

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

### Write a function to calculate factorial of a number.

In [12]:
def fact(n):
    if n==0 :
        return 1
    elif n<0:
        print('not possible')
    else:
        return n * fact(n-1)
n=5
fact(n)

120

### Write a function to calculate area of a circle.

In [13]:
def circle(r):
    return π* r**2
π = 3.14
r = 7
circle(r)

153.86

### Write a program to print System Date

In [16]:
s = "This, is, a, python ,language"
# s = s.split(',')
print(len(s))

29

In [25]:
x="This, is, a, python ,language"
x = x.split(',')
for i in x:
    if i==' python ':
        print(i)
    else:
        print(x)

['This', ' is', ' a', ' python ', 'language']
['This', ' is', ' a', ' python ', 'language']
['This', ' is', ' a', ' python ', 'language']
 python
['This', ' is', ' a', ' python ', 'language']